@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap&subset=cyrillic');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-width: 320px;
  width: 100vw;
  font-family: Roboto;
  font-size: 16px;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/*=============MODEL WINDOWS=============*/

.cover, .info-cover {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  z-index: 100;
}

.modal, .info-modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0 40%;
  z-index: 200;
}

.content, .info-content {
  display: none;
  width: 100%;
  min-width: 200px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  position: relative;
  background-color: #FAFAFA;
  z-index: 300;
  padding: 30px 0;
  border-radius: 5px;
}

.content p, .info-content p{
  font-weight: 500;
  font-size: 26px;
}

.content form, .info-content form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
}

.content input, .info-content input {
  margin-top: 20px;
  padding: 5px;
  width: 94%;
}

#content__submit, #content__info-submit {
  width: 100%;
  background-color: #FAFAFA;
  color: #f53f4f;
  border: 1px solid #f53f4f;
  font-size: 18px;
  outline: none;
}

#content__submit:hover,
#content__info-submit:hover {
  text-decoration: none;
  cursor: pointer;
  background-color: #f53f4f;
  color: #FAFAFA;
}

/*=============HEADER=============*/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #fbfbfb;
  width: 100%;
}

#mobile-menu__button {
  background: white;
  outline: none;
  border: 0;
  display: none;
  margin-right: 20px;
}

.menu__btn-phone {
  display: none;
}

#mobile-menu {
  display: none;
  position: relative;
  z-index: 2;
}

#menu-design {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 83vh;
  position: relative;
}

#menu-design:first-child {
  margin-top: 40px;
}

#menu-design>* {
  margin: 20px;
  font-size: calc(5vh - 1.6rem);
}

#mobile-menu__button i {
  background: linear-gradient(45deg, #ff8f5a, #ff2f96);
  -webkit-background-clip: text;
  color: transparent;
  cursor: pointer;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1171px;
  margin: 0 auto;
  padding-left: 15px;
}

.menu__button {
  color: black;
  outline: none;
  text-decoration: none;
  margin: 45px 40px 45px 2px;
}

.menu__button:hover {
  color: #f53f4f;
}

.menu__button:after {
  background-color: #f53f4f;
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  -webkit-transition: width .3s ease-in-out;
  -moz--transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
}

.menu__button:hover:after,
.menu__button:focus:after {
  width: 100%;
}

.menu__phone-number {
  margin-left: auto;
  font-weight: bold;
  font-size: 25px;
  color: black;
  text-decoration: none;
}

.menu__order-call {
  width: 205px;
  height: 43px;
  font-size: 16px;
  outline: none;
  margin: 45px 0 45px 20px;
  background-color: white;
  color: #f53f4f;
  border: 1px solid #f53f4f;
}

.menu__order-call:hover {
  text-decoration: none;
  cursor: pointer;
  background-color: #f53f4f;
  color: white;
}

/*=============MAIN=============*/
main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/*=======FIRST-SECTION=======*/
.first-section {
  width: 100%;
  background-color: #fbfbfb;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  padding-top: 6px;
  min-height: calc(82vh - 133px);
  /* z-index: -2; */
}

.first-section__span__items {
  position: absolute;
  z-index: 0;
  background: linear-gradient(45deg, #ff8f5a, #ff2f96);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}

.first-section__span__item1 {
  left: 3vw;
  top: 170px;
  font-size: 48px;
  transform: rotate(30deg);
}

.first-section__span__item2 {
  top: 350px;
  left: 12vw;
  font-size: 57px;
  transform: rotate(15deg);
}

.first-section__span__item3 {
  top: 670px;
  left: 19%;
  font-size: 40px;
  transform: rotate(-15deg);
}

.first-section__span__item4 {
  top: 600px;
  left: 47%;
  font-size: 37px;
  transform: rotate(30deg);
}

.first-section__span__item5 {
  top: 170px;
  left: 40%;
  font-size: 37px;
  transform: rotate(-15deg);
}

.fixed-container {
  padding-top: 6px;
  padding-left: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1171px;
  position: relative;
  z-index: 3;
  flex-wrap: wrap-reverse;
}

.first-section__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.first-section__content h1 {
  font-weight: 900;
  font-size: 80px;
  margin: 18px 0;
  display: inline-block;
}

.first-section__content h3 {
  font-size: 25px;
  font-weight: 400;
  color: #8993ad;
  margin: 0;
  display: inline-block;
}

.orange-btn {
  height: 60px;
  width: 270px;
  background-color: #ff4e2e;
  color: white;
  font-size: 18px;
  margin: 45px 0;
  outline: none;
  font-weight: 400;
  border: 0;
  cursor: pointer;
}

.orange-btn:hover {
  background-color: rgba(255, 78, 46, 0.93);
}

.first-section__img {
  display: flex;
  align-items: flex-end;
}

.first-section svg {
  position: absolute;
  z-index: 1;
  left: 45vw;
}

/*=======SECOND-SECTION=======*/
.second-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-section .fixed-container {
  display: flex;
  flex-direction: column;
  width: 1171px;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  height: auto;
}

.second-section h1 {
  font-size: 54px;
  font-weight: bold;
  margin: 94px 0 54px 0;
}

.second-section h3 {
  color: #c8cdd9;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  display: inline;
  margin-bottom: 0;
  display: inline-block;
}

.second-section__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 2fr));
  grid-gap: 2vw;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.second-section__items__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  align-self: center;
}

.second-section__price-btn {
  margin: 96px 0;
}

/*=======THIRD-SECTION=======*/
.third-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fbfbfb;
}

.third-section .fixed-container {
  display: flex;
  flex-direction: column;
  width: 1171px;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  height: auto;
}

.third-section h1 {
  font-size: 54px;
  font-weight: bold;
  margin: 94px 0;
  width: 100vw;
  text-align: center;
}

.third-section__carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

/* Основной блок */
.owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  z-index: 1;
}

/* 1 квадратик карусели */
.carousel-element {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.owl-pagination {
  text-align: center;
  /* Выравниваем точки по-середине */
}

/* 1 Точка */
.owl-page {
  width: 18px;
  height: 18px;
  display: none;
  background: #ebebeb;
  margin: 10px;
  border-radius: 15px;
}

/* Активная точка */
.owl-page.active {
  background: #ff8f5a;
}

#js-prev {
  background-image: url(../img/arrow.png);
  background-position: center center;
  background-repeat: no-repeat;
  width: 61px;
  height: 60px;
  border-radius: 35px;
  position: absolute;
  align-self: flex-start;
  z-index: 2;
  outline: none;
  cursor: pointer;
  border: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transform: translate(-4.5vw, 0);
  -webkit-transform: translate(-4.5vw, 0);
  -moz-transform: translate(-4.5vw, 0);
  -ms-transform: translate(-4.5vw, 0);
  -o-transform: translate(-4.5vw, 0);
}

#js-next {
  background-image: url(../img/arrow.png);
  background-position: center center;
  background-repeat: no-repeat;
  width: 61px;
  height: 60px;
  border-radius: 35px;
  position: absolute;
  align-self: flex-end;
  z-index: 2;
  outline: none;
  cursor: pointer;
  border: none;
  -webkit-transform: rotate(180deg) translate(-4.5vw, 0);
  -moz-transform: rotate(180deg) translate(-4.5vw, 0);
  -ms-transform: rotate(180deg) translate(-4.5vw, 0);
  -o-transform: rotate(180deg) translate(-4.5vw, 0);
  transform: rotate(180deg) translate(-4.5vw, 0);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#js-prev:hover,
#js-next:hover {
  border: 1px solid #ff8f5a;
}

.third-section h3 {
  margin-top: 38px;
  font-size: 20px;
  font-weight: 500;
  color: #c8cdd9;
}

/*=======FOURTH-SECTION=======*/
.fourth-section {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: linear-gradient(45deg, #ff8f5a, #ff2f96);
}

.fourth-section .fixed-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 15px;
  height: auto;
}

.fourth-section__span__items {
  position: absolute;
  background: white;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}

.fourth-section__span__item1 {
  left: 5%;
  bottom: calc(100vh - 150rem);
  font-size: 48px;
  transform: rotate(30deg);
}

.fourth-section__span__item2 {
  bottom: calc(100vh - 167rem);
  left: 13%;
  font-size: 57px;
  transform: rotate(15deg);
}

.fourth-section__span__item3 {
  bottom: calc(100vh - 151rem);
  left: 83%;
  font-size: 40px;
  transform: rotate(-15deg);
}

.fourth-section__span__item4 {
  bottom: calc(100vh - 165rem);
  left: 65%;
  font-size: 37px;
  transform: rotate(30deg);
}

.fourth-section__span__item5 {
  bottom: calc(100vh - 161rem);
  left: 90%;
  font-size: 48px;
  transform: rotate(-15deg);
}

.fourth-section__content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 96px 0;
}

.fourth-section h2 {
  text-align: left;
  font-size: 45px;
  font-weight: bold;
  color: white;
  margin-top: 0;
}

/*=============FOOTER=============*/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer__columns {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

footer .fixed-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1171px;
  padding: 77px 0 81px 15px;
}

footer .fixed-container > * {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.footer__column1 .menu__button {
  margin: 5px 0;
  color: #a8b0c3;
}

.footer__column1 .menu__button:hover {
  color: #f53f4f;
}

.footer__column1 .menu__button:after {
  background-color: #f53f4f;
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  -webkit-transition: width .3s ease-in-out;
  -moz--transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
}

.footer__column1 .menu__button:hover:after,
.footer__column1 .menu__button:focus:after {
  width: 100%;
}

.footer__column2__contact {
  font-size: 25px;
  font-weight: 400;
  color: black;
  text-decoration: none;
}

.footer__column2__contact:first-child {
  margin-bottom: 34px;
}

.footer__column3 .menu__order-call {
  margin: 0 0 31px 0;
}

.footer__btn-social-media {
  width: 39px;
  height: 29px;
  border: 0;
  outline: none;
  cursor: pointer;
}

.footer__btn-social-media:hover {
  opacity: 0.8;
}

.vkontakte {
  background-image: url(../img/social-media.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.facebook {
  background-image: url(../img/social-media.png);
  background-repeat: no-repeat;
  background-position: -53px 0;
}

.twitter {
  background-image: url(../img/social-media.png);
  background-repeat: no-repeat;
  background-position: -106px 0;
}

.instagram {
  background-image: url(../img/social-media.png);
  background-repeat: no-repeat;
  background-position: -162px 0;
  background-color: white;
}

.footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 33px 0px;
  background-color: #31293c;
  width: 100%;
}

/*=============MEDIA=============*/
@media screen and (max-width: 1619px) {
  .first-section__span__item2 {
    display: none;
  }
}

@media screen and (max-width: 1218px) {
  .owl-page {
    display: inline-block;
  }

  .arrow {
    display: none;
  }

  .fourth-section__span__item1 {
    bottom: calc(100vh - 152rem);
  }

  .fourth-section__span__item2 {
    bottom: calc(100vh - 170rem);
  }

  .fourth-section__span__item3 {
    bottom: calc(100vh - 151rem);
  }

  .fourth-section__span__item4 {
    bottom: calc(100vh - 168rem);
  }

  .fourth-section__span__item5 {
    bottom: calc(100vh - 165rem);
  }
}

@media screen and (max-width: 1106px) {
  .fourth-section__span__item1 {
    bottom: calc(100vh - 154rem);
    left: 2%;
  }

  .fourth-section__span__item2 {
    bottom: calc(100vh - 172rem);
  }

  .fourth-section__span__item3 {
    bottom: calc(100vh - 153rem);
  }

  .fourth-section__span__item4 {
    bottom: calc(100vh - 170rem);
  }

  .fourth-section__span__item5 {
    bottom: calc(100vh - 166rem);
  }
}

@media screen and (max-width: 1055px) {
  .first-section .fixed-container {
    flex-direction: column-reverse;
    margin-top: 90px;
  }

  .first-section svg {
    transform: translate(-35rem, -19.5rem);
  }

  .first-section__content {
    justify-content: center;
    align-items: center;
  }
  .first-section__content h1, h3 {
    text-align: center;
  }

  .first-section__span__item1 {
    left: 5vw;
    top: 170px;
  }

  .first-section__span__item3 {
    top: 320px;
    left: 19%;
  }

  .first-section__span__item4 {
    top: 170px;
    left: 82%;
  }

  .first-section__span__item5 {
    top: 170px;
    left: 40%;
  }

  .fourth-section__span__items {
    display: none;
  }
}

@media screen and (max-width: 805px) {
  .menu .menu__button {
    display: none;
  }

  #mobile-menu__button {
    display: block;
  }

  .first-section__content h1, .second-section h1, .third-section h1 {
    font-size: 45px;
  }

  .first-section__span__item1 {
    left: 7vw;
    top: 250px;
  }

  .first-section__span__item3, .first-section__span__item5 {
    display: none;
  }

  .first-section svg {
    transform: translate(-35rem, -16.9rem);
  }
}

@media screen and (max-width: 660px) {
  header .menu__order-call {
    display: none;
  }

  .menu__btn-phone {
    border-radius: 50px;
    display: block;
    outline: none;
    background-color: white;
    margin: 45px 20px;
    padding: 6px;
    cursor: pointer;
    border-left: 1px solid #ff8f5a;
    /* размер тип и цвет левой границы */
    border-right: 1px solid #ff2f96;
    /* размер тип и цвет правой границы */
    border-bottom: 1px solid #ff8f5a;
    border-top: 1px solid #ff2f96;
  }

  .menu__btn-phone i {
    background: linear-gradient(45deg, #ff8f5a, #ff2f96);
    -webkit-background-clip: text;
    color: transparent;
  }
  .fourth-section h2 {
    font-size: 28px;
  }
}

@media screen and (max-width: 502px) {
  .first-section svg {
    transform: translate(-35rem, -18.78rem);
  }
}

@media screen and (max-width: 470px) {

  .first-section__img {
    margin-left: 0;
    height: 652px;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .first-section .fixed-container, .second-section .fixed-container {
    padding-left: 0;
  }

  .first-section__img img {
    height: 480px;
  }

  .first-section h3 {
    font-size: 18px;
  }

  .first-section svg {
    transform: translate(-35rem, -16.4rem);
  }

  .first-section__span__item4 {
    left: 80%;
  }
}

@media screen and (max-width: 390px) {
  .menu__phone-number {
    font-size: 19px;
  }

  .fa-3x {
    font-size: 2.3em;
  }

  .fa-2x {
    font-size: 1.3em;
  }

  .first-section__content h1, .second-section h1, .third-section h1 {
    font-size: 36.5px;
  }

  .first-section__span__item4 {
    left: 65%;
  }

  .first-section svg {
    transform: translate(-35rem, -15.75rem);
  }

  .first-section__img img {
    height: 420px;
  }
}

@media screen and (max-width: 350px) {
  .first-section svg {
    transform: translate(-35rem, -273.6px);
  }
}
