@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap&subset=cyrillic');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-width: 320px;
  font-family: Roboto;
  font-size: 16px;
}

body {
  overflow-x: hidden;
}

/*=============MODEL WINDOWS=============*/

.cover, .info-cover {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  z-index: 100;
}

.modal, .info-modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0 40%;
  z-index: 200;
}

.content, .info-content {
  display: none;
  width: 100%;
  min-width: 200px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  position: relative;
  background-color: #FAFAFA;
  z-index: 300;
  padding: 30px 0;
  border-radius: 5px;
}

.content p, .info-content p{
  font-weight: 500;
  font-size: 26px;
}

.content form, .info-content form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
}

.content input, .info-content input {
  margin-top: 20px;
  padding: 5px;
  width: 94%;
}

#content__submit, #content__info-submit {
  width: 100%;
  background-color: #FAFAFA;
  color: #f53f4f;
  border: 1px solid #f53f4f;
  font-size: 18px;
  outline: none;
}

#content__submit:hover,
#content__info-submit:hover {
  text-decoration: none;
  cursor: pointer;
  background-color: #f53f4f;
  color: #FAFAFA;
}

/*=============HEADER=============*/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #fbfbfb;
}

#mobile-menu__button {
  background: white;
  outline: none;
  border: 0;
  display: none;
  margin: 0 20px;
}

.menu__btn-phone {
  display: none;
}

#mobile-menu {
  display: none;
  position: relative;
  z-index: 2;
}

#menu-design {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 83vh;
  position: relative;
}

#menu-design:first-child {
  margin-top: 40px;
}

#menu-design>* {
  margin: 20px;
  font-size: calc(5vh - 1.6rem);
}

#mobile-menu__button i {
  background: linear-gradient(45deg, #ff8f5a, #ff2f96);
  -webkit-background-clip: text;
  color: transparent;
  cursor: pointer;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 61%;
}

.menu__button {
  color: black;
  outline: none;
  text-decoration: none;
  margin: 45px 20px;
}

.menu__button:first-child {
  margin-left: 0;
}

.menu__button:hover {
  color: #f53f4f;
}

.menu__button:after {
  background-color: #f53f4f;
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  -webkit-transition: width .3s ease-in-out;
  -moz--transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
}

.menu__button:hover:after,
.menu__button:focus:after {
  width: 100%;
}

.menu__phone-number {
  margin-left: auto;
  font-weight: bold;
  font-size: 25px;
}

.menu__order-call {
  width: 205px;
  height: 43px;
  font-size: 16px;
  outline: none;
  margin: 45px 20px;
  background-color: white;
  color: #f53f4f;
  border: 1px solid #f53f4f;
}

.menu__order-call:hover {
  text-decoration: none;
  cursor: pointer;
  background-color: #f53f4f;
  color: white;
}

/*=============MAIN=============*/
main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/*=======FIRST-SECTION=======*/
.first-section {
  width: 100%;
  background-color: #fbfbfb;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding-top: 6px;
  height: 632px;
  /* z-index: -2; */
}

.fixed-container {
  padding-top: 6px;
  display: flex;
  align-items: center;
  height: 632px;
  width: 78%;
  padding-left: calc(40vh - 1.2rem);
}

.first-section__span__items {
  position: absolute;
  z-index: 4;
  background: linear-gradient(45deg, #ff8f5a, #ff2f96);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}

.first-section__span__item1 {
  left: 5%;
  font-size: 48px;
  transform: rotate(30deg);
}

.first-section__span__item2 {
  top: 350px;
  left: 12%;
  font-size: 57px;
  transform: rotate(15deg);
}

.first-section__span__item3 {
  top: 670px;
  left: 19%;
  font-size: 40px;
  transform: rotate(-15deg);
}

.first-section__span__item4 {
  top: 600px;
  left: 47%;
  font-size: 37px;
  transform: rotate(30deg);
}

.first-section__span__item5 {
  top: 170px;
  left: 40%;
  font-size: 37px;
  transform: rotate(-15deg);
}

.first-section__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  z-index: 3;
}

.first-section__content h1 {
  font-weight: 900;
  font-size: 80px;
  margin: 18px 0;
  display: inline-block;
}

.first-section__content h3 {
  font-size: 25px;
  font-weight: 400;
  color: #8993ad;
  margin: 0;
  display: inline-block;
}

.orange-btn {
  height: 60px;
  width: 270px;
  background-color: #ff4e2e;
  color: white;
  font-size: 18px;
  margin: 45px 0;
  outline: none;
  font-weight: 400;
  border: 0;
  cursor: pointer;
}

.first-section__img {
  margin-left: 60vh;
  overflow-x: hidden;
}

.first-section__img img {
  position: relative;
  margin-left: 15vh;
  z-index: 2;
}

.first-section__img svg {
  position: absolute;
  z-index: 1;
}

/*=======SECOND-SECTION=======*/
.second-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-section .fixed-container {
  display: flex;
  flex-direction: column;
  width: 1170px;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  height: auto;
}

.second-section h1 {
  font-size: 54px;
  font-weight: bold;
  margin: 94px 0 54px 0;
}

.second-section h3 {
  color: #c8cdd9;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  display: inline;
  margin-bottom: 0;
}

.second-section__items {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.second-section__items__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 314.22px;
  margin-top: 40px;
}

.second-section__price-btn {
  margin: 96px 0;
}

/*=======THIRD-SECTION=======*/
.third-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fbfbfb;
}

.third-section .fixed-container {
  display: flex;
  flex-direction: column;
  width: 1170px;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  height: auto;
}

.third-section h1 {
  font-size: 54px;
  font-weight: bold;
  margin: 94px 0;
}

.third-section__carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

/* Основной блок */
.owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  z-index: 1;
}

/* 1 квадратик карусели */
.carousel-element {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.owl-pagination {
  text-align: center;
  /* Выравниваем точки по-середине */
}

/* 1 Точка */
.owl-page {
  width: 18px;
  height: 18px;
  display: none;
  background: #ebebeb;
  margin: 10px;
  border-radius: 15px;
}

/* Активная точка */
.owl-page.active {
  background: #ff8f5a;
}

#js-prev {
  background-image: url(../img/arrow.png);
  background-position: center center;
  background-repeat: no-repeat;
  width: 61px;
  height: 60px;
  border-radius: 35px;
  position: absolute;
  align-self: flex-start;
  z-index: 2;
  outline: none;
  cursor: pointer;
  border: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#js-next {
  background-image: url(../img/arrow.png);
  background-position: center center;
  background-repeat: no-repeat;
  width: 61px;
  height: 60px;
  border-radius: 35px;
  position: absolute;
  align-self: flex-end;
  z-index: 2;
  outline: none;
  cursor: pointer;
  border: none;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#js-prev:hover,
#js-next:hover {
  border: 1px solid #ff8f5a;
}

.third-section h3 {
  margin-top: 38px;
  font-size: 20px;
  font-weight: 500;
  color: #c8cdd9;
}

/*=======FOURTH-SECTION=======*/
.fourth-section {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: linear-gradient(45deg, #ff8f5a, #ff2f96);
}

.fourth-section .fixed-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  height: auto;
}

.fourth-section__span__items {
  position: absolute;
  background: white;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}

.fourth-section__span__item1 {
  left: 5%;
  bottom: -1650px;
  font-size: 48px;
  transform: rotate(30deg);
}

.fourth-section__span__item2 {
  bottom: -1870px;
  left: 10%;
  font-size: 57px;
  transform: rotate(15deg);
}

.fourth-section__span__item3 {
  bottom: -1660px;
  left: 85%;
  font-size: 40px;
  transform: rotate(-15deg);
}

.fourth-section__span__item4 {
  bottom: -1880px;
  left: 60%;
  font-size: 37px;
  transform: rotate(30deg);
}

.fourth-section__span__item5 {
  bottom: -1840px;
  left: 90%;
  font-size: 48px;
  transform: rotate(-15deg);
}

.fourth-section__content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 96px 0;
}

.fourth-section h2 {
  text-align: left;
  font-size: 45px;
  font-weight: bold;
  color: white;
  margin-top: 0;
}

/*=============FOOTER=============*/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer .fixed-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 1170px;
  height: auto;
  padding: 77px 0 81px 0;
}

footer .footer__columns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
}

footer .footer__columns>* {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.footer__column1 .menu__button {
  margin: 5px 0;
  color: #a8b0c3;
}

.footer__column1 .menu__button:hover {
  color: #f53f4f;
}

.footer__column1 .menu__button:after {
  background-color: #f53f4f;
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  -webkit-transition: width .3s ease-in-out;
  -moz--transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
}

.footer__column1 .menu__button:hover:after,
.footer__column1 .menu__button:focus:after {
  width: 100%;
}

.footer__column2__contact {
  font-size: 25px;
  font-weight: 400;
}

.footer__column2__contact:first-child {
  margin-bottom: 34px;
}

.footer__column3 .menu__order-call {
  margin: 0 0 31px 0;
}

.footer__btn-social-media {
  width: 39px;
  height: 29px;
  border: 0;
  outline: none;
  cursor: pointer;
}

.vkontakte {
  background-image: url(../img/social-media.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.facebook {
  background-image: url(../img/social-media.png);
  background-repeat: no-repeat;
  background-position: -53px 0;
}

.twitter {
  background-image: url(../img/social-media.png);
  background-repeat: no-repeat;
  background-position: -106px 0;
}

.instagram {
  background-image: url(../img/social-media.png);
  background-repeat: no-repeat;
  background-position: -162px 0;
  background-color: white;
}

.footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 33px 0px;
  background-color: #31293c;
  width: 100%;
}

/*=============MEDIA=============*/
@media screen and (max-width: 1500px) {
  .menu {
    width: 72%;
  }

  .fixed-container {
    padding-left: calc(15vh - 1.5rem);
    width: 85%;
  }

  .first-section__span__item1 {
    top: 190px;
    left: 4%;
    font-size: 48px;
    transform: rotate(30deg);
  }

  .first-section__span__item2 {
    top: 660px;
    left: 5%;
    font-size: 57px;
    transform: rotate(15deg);
  }

  .first-section__span__item3 {
    top: 610px;
    left: 33%;
    font-size: 40px;
    transform: rotate(-15deg);
  }

  .first-section__span__item4 {
    top: 300px;
    left: 45%;
    font-size: 37px;
    transform: rotate(15deg);
  }

  .first-section__span__item5 {
    display: none;
  }

  .first-section__img {
    margin-left: 35vh;
  }

  .first-section__content h1 {
    font-size: 54px;
  }
}

@media screen and (max-width: 1218px) {
  .menu {
    width: 90%;
  }

  .third-section .fixed-container {
    width: 100%;
  }

  .third-section h1 {
    text-align: center;
  }

  .fixed-container {
    padding-left: calc(12vh - 1.5rem);
    width: 100%;
  }

  .owl-page {
    display: inline-block;
  }

  .arrow {
    display: none;
  }

  .menu a {
    display: none;
  }

  #mobile-menu__button {
    display: block;
  }

  .fourth-section__span__item2 {
    bottom: -1920px;
    left: 4%;
    font-size: 57px;
    transform: rotate(15deg);
  }

  .footer__columns {
    flex-direction: column;
  }

  footer .footer__columns>* {
    margin-bottom: 30px;
  }

  footer .fixed-container {
    width: 100%;
  }

  footer .footer__columns {
    width: 100%;
    align-items: flex-start;
    padding-left: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .first-section {
    height: auto;
  }

  .fixed-container {
    flex-direction: column-reverse;
    padding-left: 0;
    height: auto;
  }

  .first-section__span__item1 {
    top: 190px;
    left: 4%;
    font-size: 40px;
  }

  .first-section__span__item2 {
    top: 400px;
    left: 9%;
    font-size: 45px;
  }

  .first-section__span__item3 {
    top: 200px;
    left: 45%;
    font-size: 38px;
  }

  .first-section__span__item4 {
    top: 300px;
    left: 85%;
    font-size: 35px;
  }

  .first-section__content {
    position: static;
    justify-content: center;
    align-items: center;
  }

  .first-section__content h1, h3 {
    text-align: center;
  }

  .first-section__content h3 {
    font-size: 16px;
  }

  .first-section__content h1 {
    font-size: calc(5vh - .5rem);
  }

  .first-section__img {
    margin-left: 0;
    height: 652px;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .first-section__img img {
    margin-left: 8vh;
    height: 480px;
    margin-right: 50px;
  }

  .first-section__img svg {
    right: -15%;
    bottom: 140px;
    height: 500px;
  }

  .fourth-section__span__item1 {
    left: 3%;
    bottom: -1920px;
    font-size: 32px;
    transform: rotate(30deg);
  }

  .fourth-section__span__item2 {
    display: none;
  }

  .fourth-section__span__item3 {
    bottom: -2150px;
    left: 85%;
    font-size: 40px;
    transform: rotate(-15deg);
  }

  .fourth-section__span__item4 {
    bottom: -2200px;
    left: 50%;
    font-size: 24px;
    transform: rotate(30deg);
  }

  .fourth-section__span__item5 {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .first-section__span__item2 {
    display: none;
  }
}

@media screen and (max-width: 660px) {
  .menu__order-call {
    display: none;
  }

  .menu__btn-phone {
    border-radius: 50px;
    display: block;
    outline: none;
    background-color: white;
    margin: 45px 20px;
    padding: 6px;
    cursor: pointer;
    border-left: 1px solid #ff8f5a;
    /* размер тип и цвет левой границы */
    border-right: 1px solid #ff2f96;
    /* размер тип и цвет правой границы */
    border-bottom: 1px solid #ff8f5a;
    border-top: 1px solid #ff2f96;
  }

  .menu__btn-phone i {
    background: linear-gradient(45deg, #ff8f5a, #ff2f96);
    -webkit-background-clip: text;
    color: transparent;
  }

  .first-section__span__item1 {
    top: 260px;
    left: 4%;
    font-size: 30px;
  }

  .first-section__span__item3 {
    top: 190px;
    left: 40%;
    font-size: 38px;
  }

  .first-section__span__item4 {
    top: 300px;
    left: 75%;
    font-size: 25px;
  }

  .fourth-section h2 {
    font-size: 28px;
  }

  .fourth-section__span__item1 {
    left: 3%;
    bottom: -2300px;
    font-size: 32px;
    transform: rotate(30deg);
  }

  .fourth-section__span__item3 {
    bottom: -2500px;
    left: 85%;
    font-size: 40px;
    transform: rotate(-15deg);
  }

  .fourth-section__span__item4 {
    display: none;
  }
}

@media screen and (max-width:566px) {
  .fourth-section__span__item1 {
    display: none;
  }

  .fourth-section__span__item3 {
    display: none;
  }
}

@media screen and (max-width:470px) {
  .menu__phone-number {
    font-size: 18px;
  }

  #mobile-menu__button {
    margin-left: 0px;
  }

  .menu__btn-phone {
    margin-right: 0px;
  }

  .fa-2x {
    font-size: 1.2rem;
  }

  .fa-3x {
    font-size: 1.5rem;
  }

  .first-section__span__item1 {
    top: 260px;
    left: 4%;
    font-size: 30px;
  }

  .first-section__span__item3 {
    top: 150px;
    left: 40%;
    font-size: 38px;
  }

  .first-section__span__item4 {
    top: 250px;
    left: 75%;
    font-size: 25px;
  }

  .first-section__img {
    margin-left: 0;
    height: 652px;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .first-section__img img {
    margin-left: 8vh;
    height: 480px;
    margin-right: 50px;
  }

  .first-section__img svg {
    right: -200px;
    bottom: 140px;
    height: 500px;
  }
}
